---
import Layout from "@/components/layouts/main.astro";
import { type CollectionEntry } from "astro:content";
import { ListItem, Tags } from "@/components";

type Props = {
	title: string;
	collection: CollectionEntry<"notes">[];
	tags?: any[];
};

const { title, collection, tags } = Astro.props;
---

<Layout>
	<h1 class="font-bold mb-4">{title}</h1>
	{
		tags && (
			<div class="mb-4">
				<Tags tags={tags} />
			</div>
		)
	}
	<ul class="grid gap-2">
		{
			collection.map((item) => (
				<li transition:name={`note-listitem-${item.data.slug}`}>
					<ListItem slug={item.data.slug} date={item.data.datePub} title={item.data.title} />
				</li>
			))
		}
	</ul>
</Layout>
