---
import Layout from "@/components/layouts/main.astro";
import { type CollectionEntry } from "astro:content";
import { ListItem, Tags } from "@/components";

type Props = {
	title: string;
	list: CollectionEntry<"notes">[];
	tags?: any[];
};

const { title, list, tags } = Astro.props;
---

<Layout>
	<h1 class="font-bold mb-4">{title}</h1>
	<div class="mb-6">
		<Tags tags={tags} />
	</div>
	<ul class="grid gap-2">
		{
			list.map((item) => (
				<li>
					<ListItem
						slug={item.data.slug}
						date={item.data.datePub}
						title={item.data.title}
						transition:name={`note-${item.data.slug}`}
					/>
				</li>
			))
		}
	</ul>
</Layout>
