---
import { absoluteRoute, route } from "@/utils/routes";
import { Share } from "@/components";
type Props = {
	id: string;
	date: Date;
	Content: any;
	isPage?: boolean;
};
const { id, date, Content, isPage = false } = Astro.props;

const url = route("note", [{ key: ":id", value: id }]);

const Container = isPage ? "div" : "article";
const Link = isPage ? "span" : "a";
---

<Container class:list={[isPage ? "prose-md" : "prose-sm"]}>
	<footer
		class="order-first text-xs text-slate-400 prose-a:text-slate-400 dark:prose-a:text-slate-600 dark:text-slate-600"
		transition:name=`footer-${id}`
	>
		<time datetime={date.toISOString()}>
			<Link href={url}>
				{
					date.toLocaleString("en-US", {
						year: "numeric",
						month: "short",
						day: "numeric",
						hour: "2-digit",
						minute: "2-digit",
					})
				}</Link
			>
		</time>
	</footer>
	<div transition:name=`content-${id}`>
		<Content />
		{isPage && <Share url={absoluteRoute(url)} />}
	</div>
</Container>
